.hero {
    background: url('foto1.jpg') center 75% no-repeat;
    background-size: cover;
    padding-bottom: 40px;;
    background-attachment:fixed;
}
header {
    background: url('logo.png') center center no-repeat;
    background-size: contain;
    height: 200px;
    text-indent: -99999px;
}

body {
    margin: auto;
    background-color:lightgray;
}
main {
    width: auto;
    margin: 0 auto 50px;
}

h1 {
    font-size: 2rem;
}

a:hover{
    color:lightseagreen;
}
a {
    text-decoration: none;
    color: black;
}
nav ul {
    list-style: none;
    text-align: center;
    font-size: 3ch;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
nav li {
    display: inline-block;
    margin: 0 1em;
}
nav li a {
    color: white;
}
#aboutus h2 {
    background-image: url('foto3.jpg');

}
#services h2 {
    background-image: url('foto2.jpg');
    background-position: center 69%;
}
#book h2 {
    background-image: url('foto1.jpg');
}
h2 {
    background-position: center 32%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    margin: 0;
    font: bold 64px/200px Tahoma, Verdana, sans-serif;
}
main section:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
article {
    margin: 0 10px 20px;
    padding: 10px 20px 20px;
    background-color: whitesmoke;
    border: 1px solid bisque;
    border-radius: 10px;
    transition: 1s ease-in border-color;
}
article:hover {
    border-color: #B86500;
}
p::first-letter {
    font-size: large;
    font-weight: bold;
    color:brown;

    
}
footer img {
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    text-align: center;
    
    
}
footer img {
    width: 150px;
}
#promotion{
    font-size: 3em;  
    color: turquoise;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#sale {
    background-color: beige;
    border: solid;
    border-color: aqua;
    margin: 10px 10px 10px;
    transition: 1s ease-in border-color;
    
}
#media{
    border: solid;
    border-radius: 10px;
    border-color: aqua;
    background-color: beige;
    transition: 1s ease-in border-color;
    
}

